h2{
    max-width: calc(100vw - 24px);
    text-align: center;
    letter-spacing: 1.5px;
    margin: 8px auto;
    color: #871325;
}

section{
    margin: 0 auto;
    margin-bottom: 16px;
    width: max-content ;
    padding: 8px;
}

p{
    line-height: 2.5rem !important;
}

.area{
    box-sizing: border-box;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: -16px; 
}

.img-p{
    margin: 16px auto;
    /* margin-bottom: 16px; */

    color: #fff;
    text-align: justify ;
    width: 75vw;
}

.box-p{
    margin: 0 auto;
    margin-bottom: 16px;
    text-align: justify ;
    width: 75vw;

}

.imgbg{
    /* padding-top: 16px; */
    height: auto;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#imgbg1{
    background-image: url(../assets/img/papa1.jpg);
}
#imgbg2{
    background-image: url(../assets/img/papa2.jpg);
}
#imgbg3{
    background-image: url(../assets/img/lloracion1.jpg);
}
#imgbg4{
    background-image: url(../assets/img/lloracion2.jpg);
}
#imgbg5{
    background-image: url(../assets/img/bf1.jpg);
}
#imgbg6{
    background-image: url(../assets/img/bf2.jpg);
}
#imgbg7{
    background-image: url(../assets/img/bf3.jpg);
}
#imgbg8{
    background-image: url(../assets/img/14f.jpg);
}
#imgbg9{
    background-image: url(../assets/img/mc1.jpg);
}
#imgbg10{
    background-image: url(../assets/img/mc2.jpg);
}
#imgbg11{
    background-image: url(../assets/img/final1.jpg);
}
#imgbg12{
    background-image: url(../assets/img/final2.jpg);
}

.box{
    padding-top: 24px ;
    padding-bottom: 24px ;
    width: 100%;
    height: auto;
    background:linear-gradient(90deg,#0c0d0e,#28292b) ;
    color: #fff;
}

/* carousel */


#carousel{
    width: 100%;
    height: max-content;
    position: relative;
    margin:0 auto;
    box-sizing: border-box;
    background: linear-gradient(0deg,#0c0d0e,#28292b) ;
}

#carousel-container{
    width: max-content;
    margin: 0 auto;
    max-height: 500px;
    overflow: hidden;
}

#img {
    vertical-align: middle;
    width: 1200px;
    max-width: calc(100vw - 8px);
    margin: 0 auto;
    text-align: center;
    transition: all 1200ms;
}

.opacity1{
    opacity: 1 ;
}

.opacity0{
    opacity: 0 ;
}

.number-text{
    position: absolute;
    color: white;
    padding: 8px;
    font-size: 24px;
}

.text{
    display: block;
    position: absolute;
    color: white;
    width: 200px;
    border-radius: 6px 6px 0px  0px ;
    background: rgba(204, 204, 204, 0.5);
    left: calc(50% - 124px)  ;
    text-align: center;
    bottom: 0;
    padding: 16px;
    padding-left: 24px ;
    padding-right: 24px ;
    font-size: 24px;
}

.prev,.next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.prev{
    left: 0;
}

.next{
    right: 0;
}

